[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
monai = "*"
omegaconf = "*"
aim = "*"
pytorch-ignite = "*"
plotly = "*"
simpleitk = "*"
nibabel = "*"
matplotlib = "!=3.6.1"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
pandas = "*"
tqdm = "*"
torchvision = "*"
kornia = "*"
blobfile = "*"
mpi4py = "*"
fury = "*"
xvfbwrapper = "*"
batchgenerators = "*"
hydra-core = "*"
pytest = "*"
dukediffseg = {file = ".", editable = true}
einops = "*"
crisper = "*"
cripser = "*"
connected-components-3d = "*"
cucim = "*"
gudhi = "*"

[dev-packages]
dukediffseg = {file = ".", editable = true}

[requires]
python_version = "3.10"
